.Helps{
    width: 100%;
    margin-top: 80px;
}
.Helps .card{
    display: flex;
    flex-direction: column;
}
.Helps .card p.text{
    margin-top: 15px;
}
.Helps .card img{
    width: 100%;
    margin-top: 50px;
}
.Helps .card img:hover{
    cursor: pointer;
    transition: .50s;
    transform: scale(1.10);
}
.Helps .img{
    text-align: right;
}
.Helps .img img{
    height: 650px;
}
@media(max-width: 900px){
    .Helps .img{
        margin-top: 50px;
    }
    .Helps .img img{
        width: 100%;
    }
    .Helps .card img:hover{
        transform: scale(1.0);
    }
}