nav{
    width: 100%;
    padding: 40px 0px;
}
nav .img{
    text-align: left;
}
nav .left{
    display: flex;
    justify-content: right;
    align-items: center;
}
nav .left .css-i4bv87-MuiSvgIcon-root{
    margin: 0px 20px;
}
nav .left a{
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: rgba(21, 105, 99, 1);
}
nav .left button{
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    padding: 8px 30px;
    background: #156963;
    border: none;
    color: white;
    margin: 0px 20px;
}
nav .left button:hover{
    cursor: pointer;
}